.BoxDeScript{
    
    width: 400px;
    height: 200px;
    border: 1px solid #1f2937;
    padding: 0%;
    margin: 0%;
}
.intepreter{
 border: 1px solid red;
 float:right;
 margin-bottom: 100px;
 width: 946px;
 height: 520px;
}

